.chat {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: var(--background);
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    background-color: var(--foreground);
}

.profileActions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.profileInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--foreground-darker);
    padding: 2rem;
    border-top: 1px solid forestgreen;
}