.page {
  --gray-rgb: 255, 255, 255;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

  --button-primary-hover: #55c92b;
  --button-secondary-hover: #1a1a1a;

  min-height: 100svh;
  padding: 0;
  margin: 0;

  font-family: var(--font-geist-sans);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--foreground);
}

.nav p {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

.main {
  color: var(--foreground);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 100vh;
  gap: 32px;
}

.main aside h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.main aside h3 {
  margin: 0;
  font-size: 2rem;
}

.main aside p {
  font-size: 1.2rem;
}

.button {
  padding: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #419e20;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--button-primary-hover);
}

.nav button {
  padding: 0.8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #419e20;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.nav button:hover {
  background-color: var(--button-primary-hover);
}